* {
  background-color: rgb(235, 127, 94)
}

.grid {
  border: none;
  margin: 0;
  display:flex;
  flex-grow: 1;
  width: 1rem;
  height: 1rem;

}


.container {
  width: 40rem;
  max-width: 40rem;
  height: 40rem;
  max-height: 40rem;
  display: flex;
  flex-direction: row;
  background-color: black;
  flex-wrap: wrap;
  /* border: black 3px solid; */
  border-radius: 5px;
  padding: 10px;
  box-shadow: 20px 20px 10px grey;
  overflow: hidden;

  
}

.grid-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(235, 127, 94);
  /* padding: 5px; */
  width: 45rem;
  height: 45rem;
  
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  display: none;
}

/* slider from W3 schools */
.slidecontainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}

.slider {
  -webkit-appearance: none;
  align-self: center;
  width: 75%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider2:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider2 {
  background-color: #04AA6D;
}

input:focus + .slider2 {
  box-shadow: 0 0 1px black;
}

input:checked + .slider2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#slider-value {
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  text-align: center;
}

button {
  width: 6rem;
  height: 3rem;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  background-color: #ccc;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: baseline;
  gap: 20px
}

.switch-container { 
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
