* {
  background-color: rgb(252, 212, 124)
}

.grid {
  border: none;
  margin: 0;
  display:flex;
  flex-grow: 1;
  width: 1rem;
  height: 1rem;

}
.grid:hover {
  background-color: aquamarine;
}

.container {
  width: 40rem;
  max-width: 40rem;
  height: 40rem;
  max-height: 40rem;
  display: flex;
  flex-direction: row;
  background-color: black;
  flex-wrap: wrap;
  border: black 10px solid;
  border-radius: 5px;
  
}

.grid-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(252, 212, 124);
  /* padding: 5px; */
  width: 45rem;
  height: 45rem;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

/* slider from W3 schools */
.slidecontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 50%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider2:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider2 {
  background-color: black;
}

input:focus + .slider2 {
  box-shadow: 0 0 1px black;
}

input:checked + .slider2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#slider-value {
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
}

button {
  width: 5rem;
  height: 2rem;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  background-color: #ccc;
  font-weight: bold;
}